allow-same-version=true
auto-install-peers=false
enable-pre-post-scripts=true
git-tag-version=false
link-workspace-packages=true
message="chore(release): publish %s"
public-hoist-pattern[]=@types/*
strict-peer-dependencies=false
